{% comment %}
  Collection breadcrumbs for PLP toolbar.

  Accepts:
  - collection: {Object} Collection Liquid object
{% endcomment %}
<nav class="collection-breadcrumbs" aria-label="Breadcrumb">
  <ol class="collection-breadcrumbs__list list-unstyled">
    <li class="collection-breadcrumbs__item">
      <a class="collection-breadcrumbs__link" href="{{ routes.root_url }}">Home</a>
    </li>
    <li class="collection-breadcrumbs__separator" aria-hidden="true">&gt;</li>
    <li class="collection-breadcrumbs__item">
      <span class="collection-breadcrumbs__current" aria-current="page">{{ collection.title | escape }}</span>
    </li>
  </ol>
</nav>
