{% comment %}
  Shopping bag icon for product card quick-add buttons (same asset as header cart).
{% endcomment %}
<span class="quick-add__submit-icon svg-wrapper" aria-hidden="true">
  {{- 'icon-cart-custom.svg' | inline_asset_content -}}
</span>
