{% comment %}
  Sound on/off icons for TVC slideshow volume toggle (28×28 in 54×54 white circle).
  Pass icon_id: unique suffix for clipPath ids (e.g. block.id).
{% endcomment %}
<span class="tvc-slideshow__sound-icon tvc-slideshow__sound-icon--off" aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
    <g clip-path="url(#tvc-sound-off-{{ icon_id }})">
      <path d="M12.0167 2.67287L5.09833 9.5877C5.07124 9.61482 5.03904 9.63631 5.0036 9.65093C4.96815 9.66555 4.93017 9.673 4.89183 9.67287H2.33333C1.71449 9.67287 1.121 9.9187 0.683417 10.3563C0.245833 10.7939 0 11.3874 0 12.0062L0 15.9892C0 16.608 0.245833 17.2015 0.683417 17.6391C1.121 18.0767 1.71449 18.3225 2.33333 18.3225H4.89183C4.93024 18.3226 4.96826 18.3303 5.00369 18.3451C5.03913 18.3599 5.07129 18.3816 5.09833 18.4089L12.0167 25.3225C12.1801 25.4827 12.387 25.5913 12.6117 25.6348C12.8364 25.6783 13.0689 25.6548 13.2803 25.5671C13.4917 25.4794 13.6726 25.3315 13.8006 25.1418C13.9286 24.9521 13.9979 24.7289 14 24.5V3.50004C13.9988 3.2708 13.9301 3.04698 13.8025 2.85655C13.6749 2.66611 13.494 2.51749 13.2824 2.42925C13.0708 2.34101 12.838 2.31706 12.6128 2.36038C12.3877 2.40371 12.1804 2.5124 12.0167 2.67287Z" fill="#144D8D"/>
      <path d="M16.75 10.75L23.25 17.25" stroke="#144D8D" stroke-width="2.25" stroke-linecap="round"/>
      <path d="M23.25 10.75L16.75 17.25" stroke="#144D8D" stroke-width="2.25" stroke-linecap="round"/>
    </g>
    <defs>
      <clipPath id="tvc-sound-off-{{ icon_id }}">
        <rect width="28" height="28" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</span>
<span class="tvc-slideshow__sound-icon tvc-slideshow__sound-icon--on" aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
    <g clip-path="url(#tvc-sound-on-{{ icon_id }})">
      <path d="M12.0167 2.67287L5.09833 9.5877C5.07124 9.61482 5.03904 9.63631 5.0036 9.65093C4.96815 9.66555 4.93017 9.673 4.89183 9.67287H2.33333C1.71449 9.67287 1.121 9.9187 0.683417 10.3563C0.245833 10.7939 0 11.3874 0 12.0062L0 15.9892C0 16.608 0.245833 17.2015 0.683417 17.6391C1.121 18.0767 1.71449 18.3225 2.33333 18.3225H4.89183C4.93024 18.3226 4.96826 18.3303 5.00369 18.3451C5.03913 18.3599 5.07129 18.3816 5.09833 18.4089L12.0167 25.3225C12.1801 25.4827 12.387 25.5913 12.6117 25.6348C12.8364 25.6783 13.0689 25.6548 13.2803 25.5671C13.4917 25.4794 13.6726 25.3315 13.8006 25.1418C13.9286 24.9521 13.9979 24.7289 14 24.5V3.50004C13.9988 3.2708 13.9301 3.04698 13.8025 2.85655C13.6749 2.66611 13.494 2.51749 13.2824 2.42925C13.0708 2.34101 12.838 2.31706 12.6128 2.36038C12.3877 2.40371 12.1804 2.5124 12.0167 2.67287Z" fill="#144D8D"/>
      <path d="M20.5216 5.79368C20.3016 5.58117 20.0069 5.46357 19.701 5.46623C19.3951 5.46889 19.1025 5.59159 18.8861 5.8079C18.6698 6.0242 18.5471 6.31682 18.5445 6.62272C18.5418 6.92861 18.6594 7.22331 18.8719 7.44335C19.7333 8.30406 20.4167 9.32608 20.8829 10.451C21.3491 11.5759 21.5891 12.7817 21.5891 13.9994C21.5891 15.2171 21.3491 16.4229 20.8829 17.5479C20.4167 18.6728 19.7333 19.6948 18.8719 20.5555C18.6594 20.7756 18.5418 21.0703 18.5445 21.3762C18.5471 21.682 18.6698 21.9747 18.8861 22.191C19.1025 22.4073 19.3951 22.53 19.701 22.5326C20.0069 22.5353 20.3016 22.4177 20.5216 22.2052C21.5997 21.1279 22.455 19.8487 23.0385 18.4407C23.6221 17.0327 23.9224 15.5236 23.9224 13.9994C23.9224 12.4753 23.6221 10.9661 23.0385 9.55816C22.455 8.15017 21.5997 6.87098 20.5216 5.79368Z" fill="#144D8D"/>
      <path d="M23.3813 2.8397C23.1613 2.62719 22.8666 2.50959 22.5607 2.51225C22.2548 2.51491 21.9622 2.63761 21.7459 2.85392C21.5296 3.07023 21.4069 3.36284 21.4042 3.66874C21.4015 3.97463 21.5191 4.26933 21.7317 4.48937C24.2488 7.01358 25.6623 10.4329 25.6623 13.9977C25.6623 17.5625 24.2488 20.9818 21.7317 23.506C21.6202 23.6137 21.5314 23.7424 21.4702 23.8847C21.4091 24.0271 21.3769 24.1802 21.3755 24.3351C21.3742 24.49 21.4037 24.6436 21.4624 24.787C21.521 24.9304 21.6077 25.0606 21.7172 25.1702C21.8267 25.2797 21.957 25.3663 22.1004 25.425C22.2438 25.4837 22.3974 25.5132 22.5523 25.5118C22.7072 25.5105 22.8603 25.4783 23.0026 25.4172C23.145 25.356 23.2737 25.2671 23.3813 25.1557C26.3356 22.1938 27.9947 18.1811 27.9947 13.9977C27.9947 9.81429 26.3356 5.80163 23.3813 2.8397Z" fill="#144D8D"/>
      <path d="M17.6643 8.75C17.556 8.64153 17.4275 8.55544 17.286 8.49665C17.1445 8.43786 16.9928 8.40751 16.8395 8.40735C16.6863 8.40719 16.5345 8.43721 16.3929 8.4957C16.2512 8.55419 16.1225 8.64001 16.014 8.74825C15.9056 8.85649 15.8195 8.98504 15.7607 9.12655C15.7019 9.26807 15.6715 9.41978 15.6714 9.57302C15.6712 9.72625 15.7012 9.87803 15.7597 10.0197C15.8182 10.1613 15.904 10.29 16.0123 10.3985C16.9654 11.3559 17.5006 12.6519 17.5006 14.0029C17.5006 15.3539 16.9654 16.6499 16.0123 17.6073C15.8932 17.7131 15.7969 17.8421 15.7296 17.9864C15.6622 18.1308 15.6251 18.2874 15.6206 18.4466C15.6161 18.6058 15.6442 18.7643 15.7032 18.9123C15.7623 19.0602 15.851 19.1945 15.9639 19.3068C16.0768 19.4192 16.2115 19.5072 16.3597 19.5655C16.508 19.6238 16.6666 19.6512 16.8258 19.6459C16.985 19.6405 17.1414 19.6027 17.2854 19.5346C17.4294 19.4665 17.558 19.3696 17.6631 19.25C19.0505 17.8551 19.8294 15.9677 19.8296 14.0002C19.8299 12.0328 19.0514 10.1453 17.6643 8.75Z" fill="#144D8D"/>
    </g>
    <defs>
      <clipPath id="tvc-sound-on-{{ icon_id }}">
        <rect width="28" height="28" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</span>
