{% comment %}Auto preset: contact (page handle).{% endcomment %}
<h2 class="utility-section-title">Send us a message!</h2>
<div class="utility-subcopy rte"><p>We are experiencing extremely high volume on our customer support phone lines. We are working to resolve this issue as quickly as possible. In the meantime, please email us at <a href="mailto:info@thevillagecompany.com">info@thevillagecompany.com</a> and we will respond as soon as possible.</p><p>If you have a medical concern, please call us at <a href="tel:8886348192">(888) 634-8192</a>.</p></div>
<div class="contact-wrapper">
  <div class="contact-form">
    {% render 'utility-contact-form' %}
  </div>
</div>
