{% schema %}
{
  "name": "Article Related Products",
  "settings": [
    {
      "type": "product_list",
      "id": "related_products",
      "label": "Products",
      "limit": 6
    },
    {
      "type": "checkbox",
      "id": "horizontal_layout",
      "label": "Horizontal Layout?",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Article Related Products",
      "category": "Article",
      "settings": {}
    }
  ],
  "enabled_on": {
    "templates": ["article"]
  }
}
{% endschema %}

<section class="blog-related-products-section">
  <div class="page-width">
    <ul
      class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--4-col-desktop grid--2-col-tablet-down{% if section.settings.horizontal_layout %} grid--horizontal{% endif %}"
      role="list"
      aria-label="{{ 'general.slider.name' | t }}"
    >
      {% assign skip_card_product_styles = false %}
      {%- for product in section.settings.related_products -%}
        {% assign lazy_load = false %}
        {%- if forloop.index > 2 -%}
          {%- assign lazy_load = true -%}
        {%- endif -%}
        <li
          class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: 'square',
            show_secondary_image: true,
            show_vendor: false,
            show_rating: true,
            lazy_load: lazy_load,
            skip_styles: skip_card_product_styles,
            section_id: section.id,
            quick_add: 'standard'
          %}
        </li>
        {%- assign skip_card_product_styles = true -%}
      {%- endfor -%}
    </ul>
  </div>
</section>
