{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- if predictive_search.performed -%}
  <div id="predictive-search-results" role="listbox">
    {%- if predictive_search.resources.products.size > 0 -%}
      <div class="predictive-search__products">
        <div class="page-width">
          <ul
            id="predictive-search-results-products-list"
            class="predictive-search__product-grid grid product-grid grid--2-col-tablet-down grid--4-col-desktop"
            role="list"
          >
          {%- assign skip_card_product_styles = false -%}
          {%- for product in predictive_search.resources.products -%}
            <li
              id="predictive-search-option-product-{{ forloop.index }}"
              class="grid__item predictive-search__list-item"
              role="option"
              aria-selected="false"
            >
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: 'adapt',
                image_shape: 'default',
                show_secondary_image: true,
                show_vendor: false,
                show_rating: false,
                lazy_load: false,
                skip_styles: skip_card_product_styles,
                quick_add: 'none',
                section_id: 'predictive-search'
              %}
              {%- assign skip_card_product_styles = true -%}
            </li>
          {%- endfor -%}
        </ul>
        </div>
      </div>
    {%- endif -%}

    {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}

    <div id="predictive-search-option-search-keywords" class="predictive-search__search-for-button">
      <div class="page-width">
      <button
        class="predictive-search__item predictive-search__item--term link link--text h5 animate-arrow"
        tabindex="-1"
        role="option"
        aria-selected="false"
      >
        <span data-predictive-search-search-for-text>
          {{- 'templates.search.search_for' | t: terms: predictive_search.terms -}}
        </span>
        <span class="svg-wrapper">
          {{- 'icon-arrow.svg' | inline_asset_content -}}
        </span>
      </button>
      </div>
    </div>
  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {%- liquid
      if predictive_search.resources.products.size == 0
        echo 'templates.search.no_results' | t: terms: predictive_search.terms
      else
        echo 'templates.search.results_products_with_count' | t: count: predictive_search.resources.products.size
      endif
    -%}
  </span>
{%- endif -%}
